@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    font-family: "Poppins", sans-serif;

}

.container {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transform-style: preserve-3d;
    background-image: linear-gradient(135deg, #1f4037 0%, #28313b 74%);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 3rem;
}

.menu {
    max-width: 72rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.companyName {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 4rem;
    color: #fff;
}

.rightSideMenu {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bar button {
    background: none;
    border: none;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    color: #fff;
    outline: none;
}

.main {
    position: relative;
    width: 100%;
    left: 0;
    z-index: 5;
    overflow: hidden;
    transition: 1s;
    transform-origin: left;
    transform-style: preserve-3d;

}

header {
    min-height: 100vh;
    width: 100%;
    background: url("https://images.unsplash.com/photo-1497993950456-cdb57afd1cf1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2680&q=80")
    no-repeat  center / cover;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(43, 51, 59, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    width: 1024px;
}


.inner li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.inner ul {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2.7rem
}

.btn {
    margin-top: 1rem;
    padding: 0.6rem 1.8rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.btn a:visited {
    text-decoration: none;
}

.bar {
    transition: 1s;
}

.container.active .bar {
    transform: rotate(90deg);
}

.container.active .main {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
}

.links {
    position: absolute;
    width: 30%;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

ul {
    list-style: none;
}

.links a {
    text-decoration: none;
    color: #fff;
    padding: 0.7rem 0;
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    transition: 1s;
    opacity: 0;
    transform: translateY(10px);
    animation: hide 1s forwards ease
}


.links a:hover {
    color: red;
}

.menu a {
    text-decoration: none;
}


.container.active .links a {
    animation: appear 1s forwards ease var(--i)
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes hide {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(10px);
    }

}

.leravetSidebarMenu ul {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    align-items: center;
}

.leravetSidebarMenu li {
    list-style: none;
    text-decoration: none;
    margin: 3px;
    font-size: 15px;
    transition: 1s;
    border-radius: 10px;
    padding: 10px;
}

.leravetSidebarMenu {
    background-color: rgba(227, 220, 218, 0.3);
    width: 250px;
    height: 550px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.leravetSidebarMenu li:hover {
    background-color: rgb(38,67,72);
}

.leravetSidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leravetSidebarExp {
    width: 900px;
    text-align: center;
    border: 1px solid red
}

.muayeneExp {
    margin-top: 3rem;
}

